<%= form_for(@group) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>

  <%= f.select :users, @users.pluck(:name, :id), { include_blank: false },
                         { multiple: true, data: {controller: 'slim', slim_target: 'field'}} %>
  </div>
  <div class="actions mt-2 mb-2">
    <%= f.submit %>
  </div>
<% end %>
<% if !@group.new_record?%>
  <%@group.users.each do |a|%>
  <%= a.email%><%= link_to "remove",groups_delete_member_path(id: @group.id,delete_id: a.id)%><br>
  <%end%>
<%end%>