<section class="vh-100 mx-2">
  <div class="container py-2 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body  text-left">
          <table class="table table-striped">
            <tr>
              <th scope="col"> Sender </th>
              <th scope="col"> Title </th>
              <th colspan="3"> Action </th>
            </tr>

            <% @emails.each do |email| %>
             <tr>
              <td><%= email.sender%></td>
              <td><%= email.title%></td>
              <td><%= link_to(image_tag("eye-icon.svg"), email_path(email.id)) %></td> 

            <%a= AllEmailFavourite.where(email_id: email.id,user_id: current_user.id)%>
        
              <%if a.count == 0%>
              <td><%= link_to(image_tag("favourite-icon.svg"), email_add_to_favourites_path(email.id) )%></td>
              <%else%>
             <td><%= link_to(image_tag("star-fill.svg"),email_remove_to_favourites_path(email.id) )%></td> 
              <%end%>
              <td><%= link_to(image_tag("delete-icon.svg"), email_delete_from_show_path(email.id) )%></td> 
            </tr>
            <% end %>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>