<div class="row d-flex justify-content-start align-items-center mx-5"> 
    <div class=" col-xl-7">
<p style="color: green"><%= notice %></p>

<%= render @email %>

<div>
  <%= link_to "Edit this email", edit_email_path(@email), class: "btn btn-secondary" %> 
  <%= link_to "Back to emails", emails_path, class: "btn btn-secondary" %>
</div>
<br>
<div>
  <%= button_to "Destroy this email", @email, method: :delete, class: "btn btn-danger" %>
</div>
</div>
</div>